[Unit]
Description=Node Exporter
After=network-online.target

[Service]
User={{ node_exporter_user }}
Group={{ node_exporter_user }}
Type=simple
ExecStart={{ node_exporter_bin }} \
--web.listen-address=:{{ node_exporter_listen_port }}

[Install]
WantedBy=multi-user.target
